<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Login{% endblock %}</title>
        <link rel="icon" href="/img/logo.png">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}

        <div id="content" class="d-flex justify-content-evenly align-items-center">
            <div>
                <h1>Login</h1>
                {{ form_start(loginForm, { 'attr': { 'class': 'form' } }) }}
                    <div class="form-group">
                        {{ form_label(loginForm._username) }}
                        {{ form_widget(loginForm._username, { 'attr': { 'class': 'form-control' } }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(loginForm._password) }}
                        {{ form_widget(loginForm._password, { 'attr': { 'class': 'form-control' } }) }}
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        {{ form_widget(loginForm.login, { 'attr': { 'class': 'btn btn-primary' } }) }}
                        <a href="{{ path('app_register') }}" class="btn btn-outline-secondary">Register</a>
                    </div>

                    {% if error %}
                        <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                {{ form_end(loginForm) }}
            </div>
        </div>

        {% include 'footer.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/81d14a2741.js" crossorigin="anonymous"></script>
    </body>
</html>