{% extends 'base.html.twig' %}

{% block title %}User Details{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="container d-flex justify-content-evenly align-items-center pt-5">
            <h1>User Details</h1>

            <table>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.mail }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ user.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ user.address }}</td>
                </tr>
            </table>
        </div>
        <div class="d-flex flex-column align-items-start pt-3 pe-2">
            <a id="edit" class="btn btn-outline-warning mb-3" href="{{ path('user_edit', { 'user': user.id }) }}">Edit user<a>
            <a id="delete" class="btn btn-outline-danger" href="{{ path('user_delete', { 'user': user.id }) }}" onclick="return confirm('Are you sure you want to delete this item ?');">Delete user</a>
        </div>
    </div>
{% endblock %}
